@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer.mt-5.mt-5 {
  margin: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar {
  padding: 0rem 2rem;
  --bs-navbar-brand-padding-y: 0;
}

.navbar-brand img {
  max-width: 100px;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.nav-item.dropdown .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

span.material-icons.me-2 {
  margin-right: 0px !important;
}

.bg-light {
  background-color: #ffffff !important;
}

#imageCarousel > div:nth-child(4) > div > a.btn.btn-success.mx-3 {
  --bs-btn-bg: #c05c27;
  --bs-btn-border-color: #c05c27;
  --bs-btn-hover-bg: #af5524;
  --bs-btn-hover-border-color: #af5524;
  --bs-btn-active-bg: #c05c27;
  --bs-btn-active-border-color: #c05c27;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
